# make.config for luthier
# defines hipcc

CC = /opt/rocm/bin/hipcc
CXX = /opt/rocm/bin/hipcc
NVCC = /opt/rocm/bin/hipcc
LINKER = /opt/rocm/bin/hipcc

CUDA_DIR = /opt/rocm

NV_OPENCL_INC=/opt/rocm/include
NV_OPENCL_LIB=/opt/rocm/lib

OPENCL_INC=/opt/rocm/include
OPENCL_LIB=/opt/rocm/lib

OMP_DIR=/opt/rocm/llvm/include

LINKER_FLAGS = -lhiprtc -lm -O3 -lgomp
CC_FLAGS = -g -O3 -D_MY_IS_HIP 
CXX_FLAGS = -g -O3 -D_MY_IS_HIP
NVCC_FLAGS = -g -O3 -D_MY_IS_HIP -Xoffload-linker --emit-relocs -save-temps=obj 

COMPILER_NAME = hipcc
