# make.config for luthier
# defines hipcc

CC = /opt/rocm-6.2.0-131/bin/hipcc
CXX = /opt/rocm-6.2.0-131/bin/hipcc
NVCC = /opt/rocm-6.2.0-131/bin/hipcc
LINKER = /opt/rocm-6.2.0-131/bin/hipcc

LINKER_FLAGS = -lhiprtc -lm -O3 -lgomp
CC_FLAGS = -O3 -D_MY_IS_HIP
CXX_FLAGS = -O3 -D_MY_IS_HIP
NVCC_FLAGS = -O3 -D_MY_IS_HIP -Xoffload-linker --emit-relocs -save-temps=obj

COMPILER_NAME = hipcc
